@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.simpleCounterContainer {
  @include flexWrapper(raw);
  gap: $indent;
}

.errorText {
  font-size: 1rem;
  text-align: center;
  color: $error-color;
}