.simpleCounterContainer {
  display: flex;
  gap: 100px;
}

.counterContainer {
  border: 3px solid #3ccbe3;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  color: #282837;
  font-weight: bold;
  font-size: 30px;
}