.simpleCounterContainer {
  display: flex;
  gap: 100px;
}

.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #3ccbe3;
  border-radius: 10px;
  padding: 20px;
  flex: 0 0 auto;
  color: #282837;
  font-weight: bold;
  font-size: 30px;
}