@use '../../styles/variables' as *;

.button {
  padding: 0.6em 1.2em;
  background-color: $primary-color;
  border-radius: 8px;
  border: none;
  color: $secondary-color;
  font-weight: bold;
  font-size: 2rem;
  transition: background-color 0.25s;
  box-shadow: 0 6px 0 #428491,
  0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); /* Немного приподнимаем кнопку изначально */

  &:hover {
    background-color: rgba(59, 202, 227, 0.8);
  }

  &:active {
    box-shadow: 0 2px 0 #777,
    0 3px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);/* Сдвигаем кнопку вниз */
    background-color: #428491;
  }

  &.disabled {
    opacity: 0.3;
  }
}