@use './variables' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 345px;
  background-color: #222020;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $primary-color;
}

button {
  cursor: pointer;
}