@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.display {
  @include borderElement;
  @include flexWrapper(raw, center, center);
  height: 100%;
  font-size: 5rem;

}

.errorText {
  font-size: 30px;
  color: $error-color;
}

.messageText {
  font-size: 30px;
}

.maxCount {
  color: $error-color;
}