.display {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: inherit;
  border-radius: inherit;
  color: #3ccbe3;
  font-size: 60px;
}

.display.max-count {
  color: red;
}

.display.settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 30px;

  label {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  input {
    background-color: white;
    border: 3px solid #3ccbe3;
    border-radius: 10px;
    color: #282837;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  input.error {
    background-color: #ef5151;
  }
}